.full-screen-height {
  min-height: 100vh;
}

.form-block {
  margin: 0 auto;
  max-width: 600px;
}

.form-block-comment {
  margin: left;
  max-width: 600px;
}

.message {
  padding-top: 20px;
  padding-bottom: 0;
  text-align: center;
}

.alert {
  margin: 0;
  color: darkred;
}

.notice {
  color: green;
}

/*nav*/

.w-b {
  font-weight: bold;
}

.ml-2 {
  margin-left: 20px;
}

.btn-group-xs > .btn, .btn-xs {
  padding: .5rem .8rem;
  font-size: .875rem;
  line-height: .5;
  border-radius: .4rem;
}

.session-btns {
  margin-left: auto;
  margin-right: 30px;
}

.main-nav {
  padding: 10px 0;
}

/*pagination*/

.pagination {
  text-align: center;
}

.digg_pagination {
  background: white;
  cursor: default;
  /* self-clearing method: */ }
  .digg_pagination a, .digg_pagination span, .digg_pagination em {
    padding: 0.1em 0.4em;
    display: block;
    margin-right: 1px; }
  .digg_pagination .disabled {
    color: #999999;
    border: 1px solid #dddddd; }
  .digg_pagination .current {
    font-style: normal;
    background: #2e6ab1;
    color: white;
    border: 1px solid #2e6ab1; }
  .digg_pagination a {
    text-decoration: none;
    color: #105cb6;
    border: 1px solid #9aafe5; }
    .digg_pagination a:hover, .digg_pagination a:focus {
      color: #000033;
      border-color: #000033; }
  .digg_pagination .page_info {
    background: #2e6ab1;
    color: white;
    padding: 0.4em 0.6em;
    width: 14em;
    margin-bottom: 0.3em;
    text-align: center; }
    .digg_pagination .page_info b {
      color: #000033;
      background: #6aa6ed;
      padding: 0.1em 0.5em; }
  .digg_pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .digg_pagination {
    height: 1%; }
  *:first-child + html .digg_pagination {
    overflow: hidden;
}

/*posts*/

.posts-block {
  margin: 30px 0;
}

.no-posts-block {
  text-align: center;
}

/*post*/

.post-block {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f8f8f8;
}

.post-user-name {
  font-size: 16px;
/*  font-weight: bold;
*/}

.post-title {
  font-weight: bold;
}

.username-link {
  text-decoration: none;
}

.post-datetime {
  margin-left: 10px;
  margin-top: 5px;
  font-size: 14px;
  opacity: 0.8;
}

.post_body,
.comment-body {
  font-size: 16px;
}

.delete-block, {
  margin-top: 30px;
  padding: 20px;
  background-color: #E9EBEE;
}

.delete-block h4 {
  margin-bottom: 20px;
}

.alert-text-color {
  color: #C82232;
}

.comments-count {
  font-size: 14px;
}

.comments-count a {
  text-decoration: none;
}

/*comment*/

.comments-block {
  margin-top: 20px;
}

.comment-block {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #F0FFF0;
}


/*footer*/

// footer

.page-footer {
  padding: 8px 0;
  background-color: #000;
  bottom: 0;
  width: 100%;
}

.page-footer a {
  display: inline-block;
  margin-right: 10px;
  padding: 0 !important;
}

.page-footer img {
  background-color: #000;
  border-radius: 5px;
  width: 24px;
  height: 24px;
  background: radial-gradient(circle at center, white 60%, transparent 61%);
  overflow: hidden;
}

.page-footer img:hover {
  opacity: 0.6;
}

.copyright {
  margin-left: 20px;
  font-size: 16px;
  color: #fff;
}

/*tag*/

.hashtags-block {
  display: flex;
  justify-content: center;
  max-width: 100%;
  max-height: 10%;
  flex-wrap: wrap;
}

.title {
  margin-bottom: 20px;
}

.tag-title a,
.tag-name {
  color: #DA70D6;
}

.tag-name,
.results {
  font-size: 22px;
}
